* {
    margin: 0;
    padding: 0;
}

.calculator {
    margin: 7% auto 0% auto;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(172, 192, 242);
    height: 610px;
    width: 500px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
}

.calculator > * {
    background-color: antiquewhite;
    height: 62px;
    width: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

#display {
    border-radius: 10px;
    width: 90%;
    height: 15%;
}

#clear {
    border-radius: 10px;
    width: 90%;
    height: 8%;
}

#equal {
    width: 42%;
}

